@using VolleyballFinal.Models
@model Team
@{
    ViewData["Title"] = "Add Team";
}

<div class="mb-2">
    <a asp-controller="Team" asp-action="Add"> Add New Team</a>
</div>

<table class="mb-2">
    <thead>
        <tr>
            <th>Team Name:</th>
            <th>Location:</th>
            <th>League Type:</th>
            <th>Category:</th>
            <th>Gender:</th>
        </tr>
    </thead>
</table>
