@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center p-2">Volleyball Final</h1>


NOTES: 
We have --
-SQL Server/database
-MVC Filters
-User account/registration
-Authorization to limit access
-Proper error handling
-Routing techniques
-Tag helpers

Still need --
-Sessions/Cookies
-Model binding
-Unit Test
-Azure

