@using VolleyballFinal.Models
@model Player
@{
    ViewData["Title"] = "Add a Player";
}

<div class="mb-2">
    <a asp-controller="Player" asp-action="Add"> Add New Player</a>
</div>

<table class="mb-2">
    <thead>
        <tr>
            <th>Player Name:</th>
            <th>Number:</th>
            <th>Team Name:</th>
            <th>Position:</th>
            <th>Age:</th>
            <th>Height:</th>
        </tr>
    </thead>
</table>
