@using VolleyballFinal.Models
@model Player
@{
    ViewData["Title"] = "Delete Player";
}

<h2>Confirm Deletion</h2>

<p>Are you sure you want to delete the player <strong>@Model.PlayerName</strong>?</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="PlayerId" />

    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-controller="Player" asp-action="Details" asp-route-id="@Model.PlayerId" class="btn btn-secondary">Cancel</a>
</form>
