@using VolleyballFinal.Models
@model Player
@{
    ViewData["Title"] = "Delete Player";
}

<h2>Confirm Deletion</h2>

<form asp-action="Delete" method="post">

    <input type="hidden" asp-for="PlayerId" />

    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Player" asp-action="Details"
       class="btn btn-primary">Cancel</a>
</form>
